<form class="{{cssClass}}" autocomplete="off">

    <div class="grid">
        <div class="flex form-ability-name">
            <label class="form-ability-label">{{localize "ABILITY.NAME"}}</label>
            <input name="name" type="text" value="{{item.name}}" />
        </div>

        <div class="item-uses">
            <label class="form-ability-label">{{localize "BH.USES"}}</label>
            <select class="select-uses" name="data.uses.max">
                {{#select data.uses.max}}
                    <option value="0">{{localize "ABILITY.PASSIVE"}}</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                {{/select}}
            </select>
        </div>
        <div class="flex item-refresh">
            <label class="form-ability-label">{{localize "BH.REFRESH"}}</label>
            <select name="data.refresh">
                {{#select data.refresh}}
                    <option value="never">{{localize "BH.NEVER"}}</option>
                    <option value="scene">{{localize "BH.SCENE"}}</option>
                    <option value="day">{{localize "BH.DAY"}}</option>
                {{/select}}
            </select>
        </div>

        <div class="item-description">
            <label class="form-ability-label">{{localize "ABILITY.DESCRIPTION"}}</label>
            <textarea class="ability-description" name="data.description">{{item.data.description}}</textarea>
        </div>

        <div class="item-description">
            <label class="form-ability-label">{{localize "ABILITY.USE_DESCRIPTION"}}</label>
            <textarea class="ability-description" name="data.use-description">{{item.data.use-description}}</textarea>
        </div>
    </div>

    <div class="section active-effects">
        <div class="active-effects-header flex">{{localize 'BH.ACTIVE_EFFECTS'}} {{#unless item.data.isOwned}}<button class="add-active-effect" data-transfer="true">{{localize "BH.ADD"}}</button>{{/unless}}</div>
        {{> "systems/bounty-hunter-ttrpg/template/partial/active-effect-list.html"}}
    </div>
</form>