<form class="{{cssClass}}" autocomplete="off">
    <div class="character">
        <div class="bio border">
            <div class="flex row align-center">
                <div class="avatar">
                    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
                </div>
                <table>
                    <tr class="row-alternate">
                        <td>
                            <label>{{localize "BIO.NAME"}}:</label>
                        </td>
                        <td colspan="3">
                            <input name="name" type="text" value="{{actor.name}}" />
                        </td>
                        <td>
                            <label>{{localize data.data.bio.age.label}}:</label>
                        </td>
                        <td>
                            <input class="short-num" name="data.bio.age.value" type="number" value="{{data.data.bio.age.value}}"
                                data-dtype="Number" />
                        </td>
                    </tr>
                    <tr class="row">
                        <td>
                            <label>{{localize data.data.bio.species.label}}:</label>
                        </td>
                        <td colspan="3">
                            <input name="data.bio.species.value" type="text" value="{{data.data.bio.species.value}}" />
                        </td>
                        <td>
                            <label>{{localize data.data.bio.reputation.label}}:</label>
                        </td>
                        <td>
                            <input class="short-num" name="data.bio.reputation.value" type="number" value="{{data.data.bio.reputation.value}}"
                                data-dtype="Number" />
                        </td>
                    </tr>
                    <tr class="row-alternate">
                        <td>
                            <label>{{localize data.data.bio.ap.label}}:</label>
                        </td>
                        <td>
                            <input class="short-num" name="data.bio.ap.value" type="number" value="{{data.data.bio.ap.value}}"
                                min="{{data.data.bio.ap.min}}" max="{{data.data.bio.ap.max}}" data-dtype="Number" /> / <input type="number"{{#unless data.user.isGM}} readonly="readonly"{{/unless}} class="short-num" name="data.bio.ap.max" value="{{data.data.bio.ap.max}}"/>
                        </td>
                        <td colspan="4" class="flex">
                            <button class="recover-ap recover-ap-half" title="{{localize 'BH.RECOVER_HALF_HINT'}}">{{localize 'BH.RECOVER_HALF'}}</button>
                            <button class="recover-ap recover-ap-all" title="{{localize 'BH.RECOVER_ALL_HINT'}}">{{localize 'BH.RECOVER_ALL'}}</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="sheet-tabs tabs flex row" data-group="primary">
            <h1 data-tab="main">{{localize "TAB.MAIN"}}</h1>
            <h1 data-tab="bio">{{localize "TAB.BIO"}}</h1>
            <h1 data-tab="note">{{localize "TAB.NOTE"}}</h1>
        </div>
        <div class="sheet-body">
            <div class="tab" data-group="primary" data-tab="main">
    {{> systems/bounty-hunter-ttrpg/template/tab/main.html}}
            </div>
    
            <div class="tab" data-group="primary" data-tab="bio">
    {{> systems/bounty-hunter-ttrpg/template/tab/bio.html}}
            </div>
            <div class="tab note" data-group="primary" data-tab="note">
{{editor content=data.data.bio.note.value target="data.bio.note.value" button=true owner=owner editable=true}}
            </div>
        </div>
    </div>
</form>
