<form class="{{cssClass}}" autocomplete="off">
    <div class="grid">
        <div class="avatar">
            <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}" />
        </div>
        <div class="flex item-name">
            <label class="form-component-label">{{localize "BH.COMPONENT_NAME"}}</label>
            <input name="name" type="text" value="{{data.name}}" />
        </div>
        <div class="component-pp">
            <label class="form-component-label">{{localize "BH.POWER_POOL"}}</label>
            <input class="short-num" name="data.pp.value" type="number" value="{{data.data.pp.value}}" min="0"
                data-dtype="Number" /> /
            <input class="short-num" name="data.pp.max" type="number" value="{{data.data.pp.max}}" min="0"
                data-dtype="Number" />
        </div>

        <div class="item-description">
            <label class="form-component-label">{{localize "BH.COMPONENT.DESCRIPTION"}}</label>
            <textarea class="component-description" name="data.description">{{data.data.description}}</textarea>
        </div>
    
        <div class="item-description">
            <label class="form-component-label">{{localize "BH.COMPONENT.POWER_EFFECT"}}</label>
            <textarea class="component-description" name="data.power-effect">{{data.data.power-effect}}</textarea>
        </div>
    </div>

    <div class="section active-effects">
        <div class="active-effects-header flex">
            {{localize 'BH.ACTIVE_EFFECTS'}} 
            {{#unless data.data.isOwned}}
                <button class="add-active-effect" data-transfer="true">{{localize "BH.ADD"}}</button>
            {{/unless}}
        </div>
        {{> "systems/bounty-hunter-ttrpg/template/partial/active-effect-list.html"}}
    </div>
</form>