.bounty-hunter .character .profile-img {
    width: 100px;
    min-width: 100px;
}

.skills, .abilities {
    width: 150px;
    margin-top: 4px;
}

.section {
    margin-top: 8px;
    border: 4px groove;
    padding: 6px;
    width: fit-content;
}

.section.section-recover {

}

.abilities .ability {
    font-size: 14px;
    margin-left: 4px;
    font-weight: bold;
}

.heading {
    border-bottom: 1px solid;
}

button.recover-ap, button.recover-uses {
    font-size: 14px;
    height: 26px;
    vertical-align: middle;
    line-height: 21px;
    width: fit-content;
    margin: 0 4px 0 4px;
}

.recover-text {
    line-height: 25px;
}

button.use-skill, button.use-ability {
    padding: 0px;
    margin: 0px;
    font-size: 12px;
    height: 18px;
    vertical-align: middle;
    line-height: 18px;
}

button.use-skill-hard {
    padding: 0px;
    margin: 0px;
    font-size: 12px;
    height: 18px;
    vertical-align: middle;
    line-height: 18px;
    width: 30%;
}

button.add-skill, button.add-ability {
    width: fit-content;
    margin: 0px;
    font-size: 12px;
    height: 18px;
    vertical-align: middle;
    line-height: 18px;
    border: 0px;
}

.ability-uses {
    margin-left: 4px;
}

input.short-num {
    width: 30px;
    text-align: center;
}
input:read-only {
    border: 0 solid;
}

.grid-container {
    display: grid;
}

.item-picker-dialog .grid-container {
    grid-template-columns: auto auto;
    overflow-y: scroll;
    height: 500px;
    margin-bottom: 10px;
}

input.item-picker-checkbox {
    width: auto;
    height: auto;
}

.grid-item {
    padding: 0px;
    margin-top: auto;
    font-size: 12px;
    line-height: 12px;
    border-bottom: 1px solid gray;
    height: 30px;
}

.item-picker-item-description label {
    height: 100%;
    display: flex;
    align-items: center;
}

.ap-per-skill {
    display: flex;
}

.ap-per-skill-input {
    font-size: 20px;
}

.ap-per-skill-hint {
    color: gray;
    font-size: 10px;
    font-style: italic;
    margin-left: 6px;
}