@font-face {
    font-family: AgencyFB-Bold;
    src: url(font/AgencyFB-Bold.ttf);
}
@font-face {
    font-family: TheSans-Bold-Caps;
    src: url(font/thesans-bold-caps.ttf);
}

:root {
    --border-color: #8BD2EF;
    --label-color: #6B233D;
    --alternate-background-color: #DFECF8;
}

.bounty-hunter .flex {
    display: flex;
}

.bounty-hunter .row {
  flex-direction: row;
  background-color: white;
}

.bounty-hunter .row-alternate {
  flex-direction: row;
  background-color: var(--alternate-background-color);
}

.bounty-hunter .column {
  flex-direction: column;
}

table {
    border: 0px solid;
    margin: 0px;
    background: none;
}

.faded {
    opacity: 0.5;
}

.skill-challenge-link {
    background: #DDD;
    padding: 1px 4px;
    border: 1px solid #4b4a44;
    border-radius: 2px;
    white-space: nowrap;
    word-break: break-all;
}

/* Inserting this collapsed row between two flex items will make 
 * the flex item that comes after it break to a new row */
.break {
    flex-basis: 100%;
    height: 0;
}

.full-width {
    width: 100%;
}

.tabs .item.active {
    text-shadow:none;
    background-color: lightgray;
}

input.shortest-num {
    width: 30px;
    text-align: center;
}
input.short-num {
    width: 40px;
    text-align: center;
}
input.short-medium {
    width: 50px;
    text-align: center;
}
input.medium-num {
    width: 60px;
    text-align: center;
}
input:read-only {
    border: 0 solid;
}

.bounty-hunter .item-controls {
    width: fit-content;
    white-space: nowrap;
}

.window-app.bounty-hunter .window-content {
    background: white;
}

.bounty-hunter h1, .bounty-hunter .h1 {
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(0,138,198,1) 90%);
    color: white;

    font-family: AgencyFB-Bold;
    text-transform: uppercase;
    text-align: center;
    border: 0 none;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    padding: 4px 4px;
}

.bounty-hunter h1.active, .bounty-hunter .h1:active {
    text-decoration-line: underline overline;
    text-decoration-style: double;
    text-decoration-color: #00AEEF;
}

.bounty-hunter h2, .bounty-hunter .h2 {
    color: var(--label-color);
    text-decoration-line: underline overline;
    text-decoration-style: solid;
    text-decoration-color: #A7A9AC;

    font-family: AgencyFB-Bold;
    text-transform: uppercase;
    text-align: center;
    border: 0 none;
    font-size: 15px;
    font-weight: bold;
    margin: 0;
    padding: 4px 4px;
}

.bounty-hunter h3, .bounty-hunter .h3 {
    color: var(--label-color);

    font-family: AgencyFB-Bold;
    text-align: center;
    border: 0 none;
    font-size: 13px;
    margin: 0;
    padding: 4px 4px;
}

.bounty-hunter label, .bounty-hunter .label {
    color: var(--label-color);
    font-size: 15px;
    font-family: AgencyFB-Bold;
}

.bounty-hunter .section-heading {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(95,10,48,1) 85%);

    font-family: TheSans-Bold-Caps;
    font-size: 16px;
    text-transform: uppercase;

    color: white;
    text-align: center;
    width: 100%;
    padding: 3px;
}

.bounty-hunter button {
    background-color: var(--alternate-background-color);
    border-color: var(--border-color);
    border-radius: 10px;
}

.uppercase {
    text-transform: uppercase;
}
.capitalize {
    text-transform: capitalize;
}

.help-popup-trigger {
    float: right;
    color: blue;
}
.help-popup-trigger.alternate {
    float: right;
    color: white;
}
.help-popup-content {
    position: absolute;
    display: none;
    
    line-height: 14px;
    font-style: italic;
    font-family: "Signika", sans-serif;
    color: black;
    text-transform: none;

    background-color: white;
    width: 200px;
    border: 2px solid blue;
    padding: 4px;
    z-index: 1;
}