.flex {
    display: flex;
}

table {
    border: 0px solid;
    margin: 0px;
}

.faded {
    opacity: 0.5;
}

.skill-challenge-link {
    background: #DDD;
    padding: 1px 4px;
    border: 1px solid #4b4a44;
    border-radius: 2px;
    white-space: nowrap;
    word-break: break-all;
}

/* Inserting this collapsed row between two flex items will make 
 * the flex item that comes after it break to a new row */
.break {
    flex-basis: 100%;
    height: 0;
}

.full-width {
    width: 100%;
}