textarea.ability-description, textarea.skill-description {
    height: 60px;
}

.ability .section {
    margin-top: 10px;
}

.ability .section label {
    margin-right: 4px;
}

.select-uses {
    margin-right: 20px;
}

button.add-active-effect {
    width: fit-content;
    margin: 0px;
    font-size: 12px;
    height: 18px;
    vertical-align: middle;
    line-height: 18px;
    border: 0px;
}

.effects-list {
    max-height: 150px;
    overflow-y: scroll;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 4px;
}

.effects-list li {
    border-bottom: 1px solid;
    padding-bottom: 4px;
    margin-bottom: 4px;
}
.effect-icon {
  flex: 0 0 24px;
  height: 24px;
  margin-right: 4px;
  border: none;
}
.effect-label {
  flex: 1;
  line-height: 24px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.effect-controls {
  line-height: 24px;
  flex: 0 0 60px;
  text-align: center;
}
.effect-controls a button {
    cursor: pointer;
}
.fa-power-off {
  color: black;
}

.disabled-effect .effect-label {
    text-decoration: line-through;
    text-decoration-thickness: 2px;
}

.bounty-hunter.item .profile-img {
    min-width: 60px;
    max-width: 60px;
    margin-right: 10px;
}

.form-gear-label {
    white-space: nowrap;
    line-height: 25px;
}

/* *************** WEAPON ******************* */

/* .sheet.weapon .section {
    border: 4px solid var(--border-color);
} */
.sheet.weapon label {
    margin-right: 2px;
}
.sheet.weapon .window-content {
    background-color: var(--alternate-background-color);
}
.sheet.weapon .gear-description {
    height: 70px;
}

.sheet.weapon .grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr [col-start]);
    grid-template-rows: repeat(7, 34px);
    column-gap: 4px;
    row-gap: 4px;
}
.sheet.weapon .grid > div {
    background-color: white;
    padding: 4px 6px;
}
.grid .avatar {
    grid-column: span 2;
    grid-row: span 2;
}
.grid .weapon-name {
    grid-column: span 8;
}
.grid .weapon-cost {
    grid-column: span 4;
}
.grid .weapon-encumbrance {
    grid-column: span 4;
}
.grid .weapon-damage {
    grid-column: span 3;
}
.grid .weapon-ammo {
    grid-column: span 7;
}
.grid .weapon-skill {
    grid-column: span 5;
}
.grid .weapon-range {
    grid-column: span 5;
}
.grid .weapon-description {
    grid-column: span 10;
    grid-row: span 4;
}
.grid .weapon-uses {
    grid-column: span 5;
}
.grid .weapon-refresh {
    grid-column: span 5;
}
.grid .weapon-use-description {
    grid-column: span 10;
    grid-row: span 4;
}