.bounty-hunter .starship {
  height: 100%;
  width: 100%;
}

.starship .tab-hint {
  font-style: italic;
  text-align: center;
  font-size: 12px;
}

/* ************* STARSHIP INFO ******************* */

.starship .header-block {
  width: 100%;
  margin-top: 6px;
}

.starship .avatar {
  min-width: 100px;
  height: 100px;
  margin-right: 6px;
}

.bounty-hunter .starship .starship-info{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr [col-start]);
  grid-template-rows: repeat(3, 26px);;
  column-gap: 4px;
  row-gap: 4px;
}


/* .bounty-hunter .starship .starship-info .starship-info-section{
  display: flex;
  margin-top: 4px;
} */
.starship-info-item {
  display: flex;
  line-height: 25px;
}
.starship-info-item span {
  white-space: nowrap;
  font-weight: bold;
  margin-right: 4px;
}

.starship-info-name {
  grid-column: span 6;
}
.starship-info-type {
  grid-column: span 4;
}
.starship-info-hull {
  grid-column: span 3;
}
.starship-info-size {
  grid-column: span 3;
}
.starship-info-cost {
  grid-column: span 2;
}
.starship-info-upkeep {
  grid-column: span 2;
}
.starship-info-min-crew {
  grid-column: span 3;
}
.starship-info-additional-crew {
  grid-column: span 4;
}
.starship-info-cargo-capacity {
  grid-column: span 3;
}

.starship-info-additional-crew .crew-cost{
  font-weight: normal;
  font-style: italic;
}

/* ************* CREW MEMBERS ******************* */

.crew-member:hover {
  background-color: lightgray;
}

.crew-member .crew-member-avatar {
  flex: 0 0 24px;
  width: 24px;
  height: 24px;
  border: 0px;
  cursor: pointer;
}

.crew-member .crew-member-name {
  line-height: 24px;
}

.crew-member .button {
  flex: 0 0 24px;
  width: 24px;
  height: 24px;
  line-height: 24px;
}

.crew-member .entity-link {
  margin-right: 4px;
  line-height: 22px;

  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;

  border: 0px;
  background-color: inherit;
}

.crew-member .plain-name {
  margin-right: 4px;
  margin-right: 4px;
  line-height: 22px;

  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;

  border: 0px;
  background-color: inherit;
}

.crew-member-list {
  height: 100%;
  margin: auto;
}

/* ************* CARGO HOLD ******************* */

.cargo-header {
  display: flex;
  justify-content: center;
}
.cargo-header span {
  line-height: 25px;
  font-style: italic;
}

/* ************* STARSHIP ROLES ******************* */

.starship-role-list {
  width: 250px;
}

.starship-role-list .reset {
  width: auto;
}

.starship-role {
  min-width: 196px;
  width: 250px;
  min-height: 96px;
  margin-bottom: 10px;

  flex-grow: 1;
  border: 2px solid;
}

.starship-role ol {
  padding-left: 4px;
}

.starship-role .starship-role-header {
  text-align: center;
  font-weight: bold;
  max-height: 20px;
  border-bottom: 1px solid;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.starship-role-header .entity-link {
  background-color: white;
  border: 0px solid;
}

.starship-role .starship-role-help {
  border: 1px solid;
  border-radius: 6px;
  background-color: cadetblue;
  display: flex;
  width: 20px;
  margin-left: 4px;
  justify-content: center;
}
.starship-role .starship-role-help:hover {
  background-color: cyan;
}

.starship-role .starship-actions {
  border-bottom: 1px solid;
  padding-bottom: 1px;
}

.starship-role button.starship-action {
  font-size: 12px;
  line-height: 12px;
  display: inline;
  width: fit-content;
  border: 0px;
}

/* ************* STARSHIP COMPONENTS **************** */
.starship-component {
  margin-bottom: 10px;
  border: 2px solid;
}

.starship-component .starship-component-name {
  text-align: center;
  font-weight: bold;
  max-height: 20px;
  border-bottom: 1px solid;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.starship-component .starship-component-stats {
  text-align: center;
  padding-top: 2px;
  padding-bottom: 2px;
}

.starship-component .starship-component-stats input {
  font-size: 12px;
  height: auto;
}