.bounty-hunter .starship {
  height: 100%;
  width: 100%;
}

.starship .tab-hint {
  font-style: italic;
  text-align: center;
}

/* ************* STARSHIP INFO ******************* */

.starship .header-block {
  width: 100%;
  margin-top: 6px;
}

.starship .avatar {
  min-width: 100px;
  height: 100px;
  margin-right: 6px;
}

.bounty-hunter .starship .starship-info{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr [col-start]);
  grid-template-rows: repeat(3, 26px);;
  column-gap: 4px;
  row-gap: 4px;
}


/* .bounty-hunter .starship .starship-info .starship-info-section{
  display: flex;
  margin-top: 4px;
} */
.starship-info-item {
  display: flex;
  line-height: 25px;
}
.starship-info-item span {
  white-space: nowrap;
  font-weight: bold;
  margin-right: 4px;
}

.starship-info-name {
  grid-column: span 6;
}
.starship-info-type {
  grid-column: span 4;
}
.starship-info-hull {
  grid-column: span 3;
}
.starship-info-size {
  grid-column: span 3;
}
.starship-info-cost {
  grid-column: span 2;
}
.starship-info-upkeep {
  grid-column: span 2;
}
.starship-info-min-crew {
  grid-column: span 3;
}
.starship-info-additional-crew {
  grid-column: span 4;
}
.starship-info-cargo-capacity {
  grid-column: span 3;
}

.starship-info-additional-crew .crew-cost{
  font-weight: normal;
  font-style: italic;
}

/* ************* CREW MEMBERS ******************* */

.crew-member:hover {
  background-color: lightgray;
}

.crew-member .crew-member-avatar {
  flex: 0 0 48px;
  width: 48px;
  height: 48px;
  border: 0px;
  cursor: pointer;
}

.crew-member .crew-member-name {
  line-height: 48px;
}

.crew-member .button {
  flex: 0 0 24px;
  width: 24px;
  height: 48px;
  line-height: 48px;
}

.crew-member .entity-link {
  margin-right: 4px;
  line-height: 44px;

  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;

  border: 0px;
  background-color: inherit;
}

.crew-member .plain-name {
  margin-right: 4px;
  margin-right: 4px;
  line-height: 44px;

  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;

  border: 0px;
  background-color: inherit;
}

.crew-member-list {
  height: 100%;
  margin: auto;
}

/* ************* CARGO HOLD ******************* */

.cargo-header {
  display: flex;
  justify-content: center;
}
.cargo-header span {
  line-height: 25px;
  font-style: italic;
}

/* ************* STARSHIP ROLES ******************* */

table.starship-roles {
  border: 0px solid;
  border-spacing: 6px;
  border-collapse: separate;
  background: rgb(255, 255, 255);
  margin-top: 0px;
}

table.starship-roles td{
  vertical-align: top;
  height: 1px;
}

.starship-role {
  min-width: 196px;
  min-height: 90px;
  height: 100%;
  margin-bottom: 10px;

  flex-grow: 1;
}

.starship-role ol {
  padding-left: 4px;
}

.starship-role .starship-role-header {
  text-align: center;
  font-weight: bold;
  max-height: 20px;
  border-bottom: 1px solid;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.starship-role-header .entity-link {
  background-color: white;
  border: 0px solid;
}

.starship-role .starship-role-help {
  border: 1px solid;
  border-radius: 6px;
  background-color: cadetblue;
  display: flex;
  width: 20px;
  margin-left: 4px;
  justify-content: center;
}
.starship-role .starship-role-help:hover {
  background-color: cyan;
}

.starship-role button.travel-roll {
  font-size: 12px;
  display: block;
  width: 99%;

  border-bottom: 1px gray dashed;
}
