<div class="bounty-hunter chat-card chat-card-post">
    <h1>{{item.name}}</h1>
    <div class="grid chat-card-stats">

        {{#unless (eq item.data.category '')}}
        <div class="grid-cell-category">
            {{item.data.category}}
        </div>
        {{/unless}}
        
        <div class="chat-card-stats grid-cell-cost">
            <span class="chat-card-stat">{{localize "BH.COST"}}:</span> <span class="chat-card-stat-value uppercase">{{item.data.cost.value}} {{item.data.cost.currency}}</span>
        </div>
        <div class="chat-card-stats grid-cell-encumbrance">
            <span class="chat-card-stat">{{localize "BH.GEAR.ENCUMBRANCE"}}:</span> <span class="chat-card-stat-value">{{item.data.encumbrance}}</span>
        </div>

        {{#unless (eq item.data.charge.usage '')}}
        <div class="chat-card-stats grid-cell-charge-level">
            <span class="chat-card-stat">{{localize "BH.GEAR.CHARGE.LEVEL"}}:</span> <span class="chat-card-stat-value">{{item.data.charge.value}}%</span>
        </div>
        <div class="chat-card-stats grid-cell-charge-usage">
            <span class="chat-card-stat">{{localize "BH.GEAR.CHARGE.USAGE"}}:</span> <span class="chat-card-stat-value">{{item.data.charge.usage}}</span>
        </div>
        <div class="chat-card-stats grid-cell-rehcarge">
            <span class="chat-card-stat">{{localize "BH.GEAR.CHARGE.RECHARGE"}}:</span> <span class="chat-card-stat-value">{{item.data.charge.recharge}}</span>
        </div>
        {{/unless}}
        
        {{#unless (eq item.data.uses.max 0)}}
        <div class="chat-card-stats grid-cell-uses">
            <span class="chat-card-stat">{{localize "BH.USES"}}:</span> <span class="chat-card-stat-value">{{item.data.uses.value}} / {{item.data.uses.max}}</span>
        </div>
        <div class="chat-card-stats grid-cell-refresh">
            <span class="chat-card-stat">{{localize "BH.REFRESH"}}:</span> <span class="chat-card-stat-value capitalize">{{item.data.refresh}}</span>
        </div>
        {{/unless}}
    </div>

    <div class="chat-card-description">
        {{item.data.description}}
    </div>
</div>