<div class="main-tab">
    <div class="heading">
        <span>{{localize "HEADER.SKILLS"}} ({{data.skillCount}}/{{data.allowedSkillCount}})</span>
        <span><button class="add-skill">{{localize "BH.ADD_SKILL"}}</button></span>
    </div>
    <div class="skills border">
        {{#each data.itemsByCategory.skill as |skill key|}}
        <div class="flex skill" data-entity-id="{{skill._id}}">
            <div class="button">
                <a class="item-control skill-delete" title="{{localize BH.REMOVE_SKILL}}"><i class="fas fa-trash"></i></a>
            </div>
            <button type="button" class="use-skill" data-attribute="{{key}}" title="{{bh_localize_skill_descr skill.data.localizedDescr skill.data.data.description}}">{{localize skill.name}}</button>
            <button type="button" class="use-skill-hard fas fa-angle-double-up" data-attribute="{{key}}" title="{{localize 'BH.HARD_CHECK'}}"></button>
        </div>
        {{/each}}
    </div>
</div>
