<div class="flex">
    <div class="column">
        <div class="section section-abilities">
            <div class="heading">
                <span>{{localize "HEADER.ABILITIES"}} ({{data.abilityCount}}/{{data.allowedAbilityCount}})</span>
                <span><button class="add-ability">{{localize "BH.ADD_ABILITY"}}</button></span>
            </div>
            <div class="abilities border">
                {{#each data.itemsByCategory.ability as |ability key|}}
                <div class="flex ability item" data-entity-id="{{ability._id}}">
                    <div class="button">
                        <a class="item-control ability-delete" title="{{localize 'BH.REMOVE_ABILITY'}}"><i class="fas fa-trash"></i></a>
                    </div>

                    {{#if (eq ability.data.data.uses.max '0')}}
                        <div class="ability" data-attribute="{{key}}" title="{{ability.data.data.description}}">{{localize ability.name}}</div>
                    {{else}}
                        <button type="button" class="use-item" data-attribute="{{key}}" title="{{ability.data.data.description}}" {{#if (eq ability.data.data.uses.value 0)}}disabled="disabled"{{/if}}>{{localize ability.name}}</button>
                        <span class="ability-uses" title="{{localize 'BH.USES_REMAINING'}} ({{localize ability.data.data.refresh}})">{{ability.data.data.uses.value}}</span>
                    {{/if}}
                    
                    <div class="button faded">
                        <a class="item-control item-edit" title="{{localize 'Edit'}}"><i class="fas fa-edit"></i></a>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>

        <div class="section section-skills">
            <div class="heading">
                <span>{{localize "HEADER.SKILLS"}} ({{data.skillCount}}/{{data.allowedSkillCount}})</span>
                <span><button class="add-skill">{{localize "BH.ADD_SKILL"}}</button></span>
            </div>
            <div class="skills border">
                {{#each data.itemsByCategory.skill as |skill key|}}
                <div class="flex skill item" data-entity-id="{{skill._id}}">
                    <div class="button">
                        <a class="item-control skill-delete" title="{{localize 'BH.REMOVE_SKILL'}}"><i class="fas fa-trash"></i></a>
                    </div>
                    <button type="button" class="use-skill" data-attribute="{{key}}" title="{{skill.data.data.description}}">{{localize skill.name}}</button>
                    <button type="button" class="use-skill-hard fas fa-angle-double-up" data-attribute="{{key}}" title="{{localize 'BH.HARD_CHECK'}}"></button>
                </div>
                {{/each}}
            </div>
        </div>
    </div>

    <div class="column">
        <div class="section section-items">
            <div class="heading">
                <span>{{localize "HEADER.ITEMS"}} ({{data.encumbrance.value}}/{{data.encumbrance.max}})</span>
                <a class="item-control item-create" data-type="gear" title="{{localize 'BH.ADD'}}"><i class="far fa-plus-square"></i></a>
            </div>
            <div class="item-categories">
                <div class="item-category border">
                    <div class="item-category-header">{{localize "BH.WEAPON.TITLE"}}</div>
                    <div class="items">
                        {{#each data.itemsByCategory.weapon as |item id|}}
                            {{> systems/bounty-hunter-ttrpg/template/partial/inventory-item.html item=item}}
                        {{/each}}
                    </div>
                </div>
                {{#each data.itemsByCategory.gear as |items categoryName|}}
                <div class="item-category border">
                    <div class="item-category-header">{{categoryName}}</div>
                    <div class="items">
                        {{#each items as |item id|}}
                            {{> systems/bounty-hunter-ttrpg/template/partial/inventory-item.html item=item}}
                        {{/each}}
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
    <div class="column">
        <div class="section section-recover">
            <div class="recover-text">{{localize 'BH.RECOVER_USES'}}</div>
            <button type="button" class="recover-uses recover-uses-scene" data-attribute="{{key}}" title="{{localize 'BH.RECOVER_SCENE_HINT'}}">{{localize 'BH.RECOVER_SCENE'}}</button>
            <button type="button" class="recover-uses recover-uses-day" data-attribute="{{key}}" title="{{localize 'BH.RECOVER_DAY_HINT'}}">{{localize 'BH.RECOVER_DAY'}}</button>
        </div>
        <div class="section section-qualifications">
            <div class="heading">
                <span>{{localize "HEADER.QUALIFICATIONS"}}</span>
            </div>
            {{#each data.qualifications as |role key|}}
            <div class="qualification-role">
                <div><b>{{localize role.name}}:</b> {{role.canDoFunctions}}/{{role.totalFunctions}}</div>
                <!-- <div>
                    Missing: 
                    <i>
                        {{#each role.missingSkills as |skill|}}
                        {{skill}}; 
                        {{/each}}
                    </i>
                </div> -->
            </div>
            {{/each}}
        </div>
    </div>
</div>