<div class="flex column full" style="overflow-y: scroll;">
    
    <div class="flex row">
        <div class="starship-role-list">
            <div class="section-heading">
                <span>{{localize "BH.STARSHIP.ROLES.HEADING" }}</span>
                <span class="help-popup help-popup-container">
                    <a class="help-popup-trigger alternate"><i class="far fa-question-circle"></i></a>
                    <div class="help-popup-content">
                        <p>{{localize "BH.STARSHIP.CREW.HINT_ASSIGN"}}</p><hr/>
                        <p>{{localize "BH.STARSHIP.CREW.HINT_COUNT"}}</p>
                    </div>
                </span>
                <button class="reset border">{{localize "BH.STARSHIP.CONTROL.RESET"}}</button>
            </div>
            {{#each data.starshipRoles as |starshipRole roleKey|}}
                {{> systems/bounty-hunter-ttrpg/template/partial/starship-role.html assignedCharacters=starshipRole.assignees role=starshipRole user=../user}}
            {{/each}}
        </div>
        <div class="starship-role-list">
            <div class="section-heading">{{localize "BH.STARSHIP.WEAPONS.HEADING" }}</div>
            {{#each data.starshipWeapons as |starshipWeapon roleKey|}}
                {{> systems/bounty-hunter-ttrpg/template/partial/starship-role.html assignedCharacters=starshipWeapon.assignees role=starshipWeapon user=../user}}
            {{/each}}
        </div>
        <div class="starship-component-list">
            <div class="section-heading">{{localize "BH.STARSHIP.COMPONENTS.HEADING" }}</div>
            <div class="starship-component">
                <div class="starship-component-name">{{localize 'STARSHIP.HULL'}}</div>
                <div class="starship-component-stats">
                    <span>{{localize 'BH.PP'}}:</span>
                    <input class="short-num" name="data.hull.value" type="number" value="{{data.data.hull.value}}" min="0" max="{{data.data.hull.max}}" data-dtype="Number" /> / 
                    <input class="short-num" name="data.hull.max" type="number" value="{{data.data.hull.max}}" min="0" data-dtype="Number" {{#unless user.isGM}}disabled="disabled"{{/unless}} />
                </div>
            </div>
            {{#each data.starshipComponents as |starshipComponent key|}}
                {{> systems/bounty-hunter-ttrpg/template/partial/component.html component=starshipComponent user=../user}}
            {{/each}}
        </div>
    </div>
</div>