<div class="flex column full" style="overflow-y: scroll;">
    <div class="tab-hint">{{localize "BH.STARSHIP.CREW.HINT_ASSIGN"}}</div>
    <button class="reset border">{{localize "BH.STARSHIP.CONTROL.RESET"}}</button>
    
    <div class="flex row">
        <div class="starship-role-list border">
            {{#each starshipRoles as |starshipRole roleKey|}}
                {{> systems/bounty-hunter-ttrpg/template/partial/starship-role.html assignedCharacters=starshipRole.assignees role=starshipRole}}
            {{/each}}
        </div>
    </div>
</div>