<div class="flex column full">
    <div class="flex row align-center border">
        <div class="avatar">
            <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
        </div>
        <div class="flex row margin align-end space-around grow">
            <div class="flex column">
                <div class="name">
                    <b>{{localize "BH.STARSHIP.NAME"}}</b>
                    <input name="name" type="text" value="{{actor.name}}"/>
                </div>
            </div>
        </div>
    </div>
    <div class="crew-member-list border">
        <h1>{{localize "BH.STARSHIP.CREW" }}</h1>
        <div class="tab-hint">{{localize "BH.CREW.HINT_ADD"}}</div>
        <div>
            <ol>
            {{#each crewMembers as |crewMember|}}
                {{> systems/bounty-hunter-ttrpg/template/partial/crew-member.html crewMember=crewMember deleteButton=true}}
            {{/each}}
        </ol>
        </div>
    </div>
</div>