<div class="flex full column">
    <div class="flex row border header-block">
        <div class="avatar">
            <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
        </div>
        <div class="starship-info">
            <div class="starship-info-item starship-info-name">
                <span>{{localize "BH.STARSHIP.NAME"}}:</span>
                <input name="name" type="text" value="{{actor.name}}"/>
            </div>
            <div class="starship-info-item starship-info-type">
                <span>{{localize data.type.label}}:</span>
                <input name="data.type.value" type="text" value="{{data.type.value}}" {{#unless user.isGM}}disabled="disabled"{{/unless}}/>
            </div>
            <div class="starship-info-item starship-info-hull">
                <span>{{localize data.hull.label}}:</span>
                <input class="short-num" name="data.hull.value" type="number" value="{{data.hull.value}}" min="0" max="{{data.hull.max}}" data-dtype="Number" /> / 
                <input class="short-num" name="data.hull.max" type="number" value="{{data.hull.max}}" min="0" data-dtype="Number" {{#unless user.isGM}}disabled="disabled"{{/unless}} />
            </div>
            <div class="starship-info-item starship-info-size">
                <span>{{localize data.size.label}} ({{localize 'BH.METERS_SHORT'}}):</span>
                <input class="short-num" name="data.size.length" type="number" value="{{data.size.length}}" min="0" data-dtype="Number" {{#unless user.isGM}}disabled="disabled"{{/unless}} /> x 
                <input class="short-num" name="data.size.width" type="number" value="{{data.size.width}}" min="0" data-dtype="Number" {{#unless user.isGM}}disabled="disabled"{{/unless}} /> x
                <input class="short-num" name="data.size.depth" type="number" value="{{data.size.depth}}" min="0" data-dtype="Number" {{#unless user.isGM}}disabled="disabled"{{/unless}} />
            </div>
            <div class="starship-info-item starship-info-cost">
                <span>{{localize data.cost.label}}:</span>
                <input class="medium-num" name="data.cost.value" type="number" value="{{data.cost.value}}" min="0" data-dtype="Number" {{#unless user.isGM}}disabled="disabled"{{/unless}} />
            </div>
            <div class="starship-info-item starship-info-upkeep">
                <span>{{localize data.upkeep.label}}:</span>
                <input class="short-num" name="data.upkeep.value" type="number" value="{{data.upkeep.value}}" min="0" data-dtype="Number" {{#unless user.isGM}}disabled="disabled"{{/unless}} />
            </div>
            <div class="starship-info-item starship-info-cargo-capacity">
                <span>{{localize data.cargo-capacity.label}} ({{localize 'BH.TONS_SHORT'}}):</span>
                <input class="short-num" name="data.cargo-capacity.value" type="number" value="{{data.cargo-capacity.value}}" min="0" data-dtype="Number" {{#unless user.isGM}}disabled="disabled"{{/unless}} />
            </div>
            <div class="starship-info-item starship-info-min-crew">
                <span>{{localize data.crew.min-label}}:</span>
                <input class="short-num" name="data.crew.min" type="number" value="{{data.crew.min}}" min="0" data-dtype="Number" {{#unless user.isGM}}disabled="disabled"{{/unless}} />
            </div>
            <div class="starship-info-item starship-info-additional-crew">
                <span>{{localize data.crew.additional-label}}:</span>
                <input class="short-num" name="data.crew.additional" type="number" value="{{data.crew.additional}}" min="0" data-dtype="Number" />
                <span class="crew-cost">({{crewCost}} {{localize 'BH.DECA_CREDITS'}})</span>
            </div>
        </div>
    </div>
    <div class="flex row">
        <div class="crew-member-list border">
            <h1>{{localize "BH.STARSHIP.CREW.HEADING" }}</h1>
            <div class="section">
                <div class="item-categories">
                    <div class="tab-hint">{{localize "BH.STARSHIP.CREW.HINT_ADD"}}</div>
                    <ol>
                    {{#each crewMembers as |crewMember|}}
                        {{> systems/bounty-hunter-ttrpg/template/partial/crew-member.html crewMember=crewMember deleteButton=true}}
                    {{/each}}
                    </ol>
                </div>
            </div>
        </div>
        <div class="cargo-hold border column">
            <div class="cargo-header">
                <h1>{{localize "BH.STARSHIP.CARGO.HEADING" }}</h1>
                <span>{{cargoWeight.value}}/{{cargoWeight.max}}</span>
            </div>
            <div class="section section-items">
                <div class="item-categories">
                    {{#if data.itemsByCategory.cargo}}
                    <div class="item-category border">
                        <div class="item-category-header">
                            {{localize "BH.CARGO.TITLE"}} 
                            <a class="item-create" data-type="cargo" title="{{localize 'BH.ADD'}}"><i class="far fa-plus-square"></i></a>
                        </div>
                        <div class="items">
                            {{#each data.itemsByCategory.cargo as |item id|}}
                                {{> systems/bounty-hunter-ttrpg/template/partial/inventory-item.html item=item}}
                            {{/each}}
                        </div>
                    </div>
                    {{/if}}
                    {{#if data.itemsByCategory.weapon}}
                    <div class="item-category border">
                        <div class="item-category-header">{{localize "BH.WEAPON.TITLE"}}</div>
                        <div class="items">
                            {{#each data.itemsByCategory.weapon as |item id|}}
                                {{> systems/bounty-hunter-ttrpg/template/partial/inventory-item.html item=item}}
                            {{/each}}
                        </div>
                    </div>
                    {{/if}}
                    {{#each data.itemsByCategory.gear as |items categoryName|}}
                    <div class="item-category border">
                        <div class="item-category-header">{{categoryName}}</div>
                        <div class="items">
                            {{#each items as |item id|}}
                                {{> systems/bounty-hunter-ttrpg/template/partial/inventory-item.html item=item}}
                            {{/each}}
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>