<div class="flex column full" style="overflow-y: scroll;">
    
    <div class="flex row">
        <div class="starship-role-list border">
            <div class="flex row">
                <span class="tab-hint">{{localize "BH.STARSHIP.CREW.HINT_ASSIGN"}}</span>
                <button class="reset border">{{localize "BH.STARSHIP.CONTROL.RESET"}}</button>
            </div>
            {{#each starshipRoles as |starshipRole roleKey|}}
                {{> systems/bounty-hunter-ttrpg/template/partial/starship-role.html assignedCharacters=starshipRole.assignees role=starshipRole}}
            {{/each}}
        </div>
        <div class="starship-role-list border">
            <div class="flex row">
                <!-- <span class="tab-hint">{{localize "BH.STARSHIP.CREW.HINT_ASSIGN"}}</span>
                <button class="reset border">{{localize "BH.STARSHIP.CONTROL.RESET"}}</button> -->
            </div>
            {{#each starshipWeapons as |starshipWeapon roleKey|}}
                {{> systems/bounty-hunter-ttrpg/template/partial/starship-role.html assignedCharacters=starshipWeapon.assignees role=starshipWeapon}}
            {{/each}}
        </div>
        <div class="starship-component-list border">
            <div class="tab-hint">{{localize "BH.COMPONENTS"}}</div>
            <div class="starship-component">
                <div class="starship-component-name">{{localize 'STARSHIP.HULL'}}</div>
                <div class="starship-component-stats">
                    <span>{{localize 'BH.PP'}}:</span>
                    <input class="short-num" name="data.hull.value" type="number" value="{{data.hull.value}}" min="0" max="{{data.hull.max}}" data-dtype="Number" /> / 
                    <input class="short-num" name="data.hull.max" type="number" value="{{data.hull.max}}" min="0" data-dtype="Number" {{#unless user.isGM}}disabled="disabled"{{/unless}} />
                </div>
            </div>
            {{#each starshipComponents as |starshipComponent key|}}
                {{> systems/bounty-hunter-ttrpg/template/partial/component.html component=starshipComponent user=user}}
            {{/each}}
        </div>
    </div>
</div>