<div class="flex column full">
    <div class="flex row align-center border">
        <div class="avatar">
            <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
        </div>
        <div class="starship-info">
            <div class="starship-info-section">
                <div class="name">
                    <b>{{localize "BH.STARSHIP.NAME"}}</b>
                    <input name="name" type="text" value="{{actor.name}}"/>
                </div>
                <div>
                    <b>{{localize data.type.label}}</b>
                    <input name="data.type.value" type="text" value="{{data.type.value}}"/>
                </div>
            </div>
            <div class="starship-info-section">
                <div>
                    <b>{{localize data.hull.label}}</b>
                    <input class="short-num" name="data.hull.value" type="number" value="{{data.hull.value}}" min="0" max="{{data.hull.max}}" data-dtype="Number" /> / 
                    <input class="short-num" name="data.hull.max" type="number" value="{{data.hull.max}}" min="0" data-dtype="Number" />
                </div>
                <div>
                    <b>{{localize data.size.label}} ({{localize 'BH.METERS_SHORT'}})</b>
                    <input class="short-num" name="data.size.length" type="number" value="{{data.size.length}}" min="0" data-dtype="Number" /> x 
                    <input class="short-num" name="data.size.width" type="number" value="{{data.size.width}}" min="0" data-dtype="Number" /> x
                    <input class="short-num" name="data.size.depth" type="number" value="{{data.size.depth}}" min="0" data-dtype="Number" />
                </div>
                <div>
                    <b>{{localize data.cost.label}}</b>
                    <input class="medium-num" name="data.cost.value" type="number" value="{{data.cost.value}}" min="0" data-dtype="Number" />
                </div>
                <div>
                    <b>{{localize data.upkeep.label}}</b>
                    <input class="short-num" name="data.upkeep.value" type="number" value="{{data.upkeep.value}}" min="0" data-dtype="Number" />
                </div>
            </div>
            <div class="starship-info-section">
                <div>
                    <b>{{localize data.crew.label}}</b>
                    <input class="short-num" name="data.crew.min" type="number" value="{{data.crew.min}}" min="0" data-dtype="Number" />
                </div>
                <div>
                    <b>{{localize data.cargo-capacity.label}}</b>
                    <input class="short-num" name="data.cargo-capacity.value" type="number" value="{{data.cargo-capacity.value}}" min="0" data-dtype="Number" />
                </div>
            </div>
        </div>
    </div>
    <div class="flex row">
        <div class="crew-member-list border">
            <h1>{{localize "BH.STARSHIP.CREW.HEADING" }}</h1>
            <div class="section">
                <div class="item-categories">
                    <div class="tab-hint">{{localize "BH.STARSHIP.CREW.HINT_ADD"}}</div>
                    <ol>
                    {{#each crewMembers as |crewMember|}}
                        {{> systems/bounty-hunter-ttrpg/template/partial/crew-member.html crewMember=crewMember deleteButton=true}}
                    {{/each}}
                    </ol>
                </div>
            </div>
        </div>
        <div class="cargo-hold border column">
            <h1>{{localize "BH.STARSHIP.CARGO.HEADING" }}</h1>
            <div class="section section-items">
                <div class="item-categories">
                    {{#if data.itemsByCategory.weapon}}
                    <div class="item-category border">
                        <div class="item-category-header">{{localize "BH.WEAPON.TITLE"}}</div>
                        <div class="items">
                            {{#each data.itemsByCategory.weapon as |item id|}}
                            <div class="flex item" data-entity-id="{{item._id}}">
                                <div class="button">
                                    <a class="item-control item-delete" title="{{localize 'BH.REMOVE_ABILITY'}}"><i class="fas fa-trash"></i></a>
                                </div>
                                <div class="item{{#unless item.data.data.canUse}} faded{{/unless}}" data-attribute="{{key}}" title="{{#if item.data.data.canUse}}{{item.data.data.description}}{{else}}{{localize 'BH.WEAPON.LACK_SKILL'}}{{/if}}">
                                    <span>{{localize item.name}}</span>
                                    <span class="weapon-damage item-stat" title="{{localize 'BH.WEAPON.DAMAGE'}}">
                                        <i class="fas fa-sun"></i>
                                        {{item.data.data.damage}}
                                    </span>
                                    <span class="weapon-range item-stat" title="{{localize 'BH.WEAPON.RANGE'}}">
                                        {{item.data.data.range}}{{localize 'BH.METERS_SHORT'}}
                                    </span>
                                    {{#unless (eq item.data.data.ammoCount false)}}
                                    <span class="weapon-ammo item-stat" title="{{item.data.data.ammo}}">
                                        <i class="fas fa-grip-vertical"></i>
                                        {{item.data.data.ammoCount}}
                                    </span>
                                    {{/unless}}
                                </div>

                                {{#if ../user.isGM}}
                                <div class="button faded">
                                    <a class="item-control item-edit" title="{{localize 'Edit'}}"><i class="fas fa-edit"></i></a>
                                </div>
                                {{/if}}
                            </div>
                            {{/each}}
                        </div>
                    </div>
                    {{/if}}
                    {{#each data.itemsByCategory.gear as |items categoryName|}}
                    <div class="item-category border">
                        <div class="item-category-header">{{categoryName}}</div>
                        <div class="items">
                            {{#each items as |item id|}}
                            <div class="flex item" data-entity-id="{{item._id}}">
                                <div class="button">
                                    <a class="item-control item-delete" title="{{localize 'BH.REMOVE_ABILITY'}}"><i class="fas fa-trash"></i></a>
                                </div>
                                <div class="item" data-attribute="{{key}}" title="{{item.data.data.description}}">{{localize item.name}}</div>
                                
                                {{#if ../user.isGM}}
                                <div class="button faded">
                                    <a class="item-control item-edit" title="{{localize 'Edit'}}"><i class="fas fa-edit"></i></a>
                                </div>
                                {{/if}}
                            </div>
                            {{/each}}
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>