<div class="starship-component item" data-entity-id="{{component.data._id}}">
    <div class="starship-component-name" title="{{component.data.data.description}}">
        {{#if user.isGM}}
        <span class="item-controls faded">
            <a class="item-control item-delete" title="{{localize 'Delete'}}"><i class="fas fa-trash"></i></a>
        </span>
        {{/if}}
        {{component.name}}
        {{#if user.isGM}}
        <span class="item-controls faded">
            <a class="item-control item-edit" title="{{localize 'Edit'}}"><i class="fas fa-edit"></i></a>
        </span>
        {{/if}}
    </div>
    <div class="starship-component-stats">
        <span>{{localize 'BH.PP'}}:</span>
        <input class="short-num" type="number" value="{{component.data.data.pp.value}}" min="0" data-dtype="Number" /> / 
        <input class="short-num" type="number" value="{{component.data.data.pp.max}}" min="0" data-dtype="Number" {{#unless user.isGM}}disabled="disabled"{{/unless}} />
    </div>
</div>