<li class="crew-member flexrow" data-entity-id="{{crewMember._id}}" draggable="true">
    {{#if deleteButton }}
        <div class="button">
            <a class="item-control crew-delete" title="{{localize 'BH.REMOVE_CREW'}}"><i class="fas fa-trash"></i></a>
        </div>
    {{/if}}
    <img class="crew-member-avatar" title="{{crewMember.name}}" src="{{crewMember.img}}">
    {{#if noCharSheetLink }}
        <span class="plain-name">{{crewMember.name}}</span>
    {{else}}
        {{ bh_enrich (bh_strconcat "@Actor[" crewMember.name "]") }}
    {{/if}}
    {{#if crewMember.owner}}
        [{{crewMember.data.bio.ap.value}}]
    <!-- <span class="crew-member-ap">[{{crewMember.data.bio.ap.value}}]</span> -->
    {{/if}}
</li>