
<div class="flex item" data-entity-id="{{item._id}}">
    <div class="button">
        <a class="item-control item-delete" title="{{localize 'BH.REMOVE_ABILITY'}}"><i class="fas fa-trash"></i></a>
    </div>
    {{#if (eq item.type 'weapon')}}
        {{#if item.data.data.canUse}}
        <a class="use-weapon full-width">
        {{/if}}
            <div class="item{{#unless item.data.data.canUse}} faded{{/unless}}" data-attribute="{{key}}" title="{{#if item.data.data.canUse}}{{item.data.data.description}}{{else}}{{localize 'BH.WEAPON.LACK_SKILL'}}{{/if}}">
                <span>{{localize item.name}}</span>
                <span class="weapon-damage item-stat" title="{{localize 'BH.WEAPON.DAMAGE'}}">
                    <i class="fas fa-sun"></i>
                    {{item.data.data.damage}}
                </span>
                <span class="weapon-range item-stat" title="{{localize 'BH.WEAPON.RANGE'}}">
                    {{item.data.data.range}}{{localize 'BH.METERS_SHORT'}}
                </span>
                {{#unless (eq item.data.data.ammoCount false)}}
                <span class="weapon-ammo item-stat" title="{{item.data.data.ammo}}">
                    <i class="fas fa-grip-vertical"></i>
                    {{item.data.data.ammoCount}}
                </span>
                {{/unless}}
            </div>
        {{#if item.data.data.canUse}}
        </a>
        {{/if}}
    {{else if (eq item.type 'cargo')}}
        <div class="item" data-attribute="{{key}}" title="{{item.data.data.description}}">
            <span>{{localize item.name}}</span>
            <span class="cargo-weight item-stat" title="{{localize 'BH.CARGO.WEIGHT'}}">
                {{item.data.data.weight}}{{localize 'BH.TONS_SHORT'}}
            </span>
        </div>
    {{else}}
        {{#unless (eq item.data.data.uses.max 0)}}
        <a class="use-item full-width">
        {{/unless}}
            <div class="item{{#if (eq item.data.data.uses.value 0)}} faded{{/if}}" data-attribute="{{key}}" title="{{item.data.data.description}}">
                <span>{{localize item.name}}</span>
                {{#unless (eq item.data.data.uses.max 0)}}
                    <span class="item-stat" title="{{localize 'BH.USES_REMAINING'}} ({{localize item.data.data.refresh}})">
                        <i class="fas fa-ellipsis-v"></i>
                        {{item.data.data.uses.value}}
                    </span>
                {{/unless}}
            </div>
        {{#unless (eq item.data.data.uses.max 0)}}
        </a>
        {{/unless}}
    {{/if}}
        
    <div class="item-controls faded">
        <a class="item-control item-edit" title="{{localize 'Edit'}}"><i class="fas fa-edit"></i></a>
        <a class="item-control item-transfer" title="{{localize 'BH.TRANSFER'}}"><i class="fas fa-exchange-alt"></i></a>
    </div>
</div>