
<div class="starship-role starship-role-{{role.key}}{{#if role.isWeapon}} item{{/if}}" {{#if role.isWeapon}}data-entity-id="{{role.weapon.data._id}}"{{/if}} data-starship-role="{{role.key}}">
    <div class="starship-role-header">
        {{#if role.isWeapon}}
            {{#if user.isGM}}
            <span class="item-controls faded">
                <a class="item-control item-delete" title="{{localize 'Delete'}}"><i class="fas fa-trash"></i></a>
            </span>
            {{/if}}
        {{/if}}
        {{ localize role.name }}
        {{#if role.isWeapon}}
            {{#if user.isGM}}
            <span class="item-controls faded">
                <a class="item-control item-edit" title="{{localize 'Edit'}}"><i class="fas fa-edit"></i></a>
            </span>
            {{/if}}
        {{/if}}
    </div>
    <div class="starship-actions">
        {{#each role.functions as |action|}}
            <button class="starship-action {{action.key}}" title="{{localize action.description}}">{{localize action.name}}</button>
        {{/each}}
    </div>
    <div class="flex row">
        <ol class="starship-role{{#if role.isWeapon}}-weapon{{/if}}-assignees">
            {{#each assignedCharacters as |crewMember|}}
                {{> systems/bounty-hunter-ttrpg/template/partial/crew-member.html crewMember=crewMember}}
            {{/each}}
        </ol>
        {{#if role.isWeapon}}
        <div class="weapon-stats">
            <div><strong>{{localize 'BH.WEAPON.DAMAGE'}}:</strong> {{role.weapon.data.data.damage}}</div>
            <div>{{role.weapon.data.data.range.min}}-{{role.weapon.data.data.range.max}}</div>
            <div>
                <span><strong>{{localize 'BH.PP'}}:</strong></span>
                <input class="short-num embedded-update" type="number" data-name="data.pp.value" data-entity-id="{{role.weapon.data._id}}" value="{{role.weapon.data.data.pp.value}}" min="0" data-dtype="Number" /> / 
                <input class="short-num embedded-update" type="number" data-name="data.pp.max" data-entity-id="{{role.weapon.data._id}}" value="{{role.weapon.data.data.pp.max}}" min="0" data-dtype="Number" {{#unless user.isGM}}disabled="disabled"{{/unless}} />
            </div>
        </div>
        {{/if}}
    </div>
</div>